.fadeIn {
    animation: fadeIn 0.7s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  input, button {
    transition: all 0.3s ease;
  }
  
  input:focus {
    box-shadow: 0 0 5px #07f;
    outline: none;
    transform: scale(1.02);
  }
  
  button:hover {
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    transform: scale(1.05);
  }
  