.homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(120deg, #caf0f8, #fff);
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .homeContainer h1 {
    color: #023e8a;
    margin-bottom: 2rem;
  }
  
  .buttonGroup {
    display: flex;
    gap: 20px;
  }
  
  .homeBtn {
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: #0077b6;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .homeBtn:hover {
    background-color: #005f87;
  }

  @media screen and (width <= 768px) {
    .buttonGroup {
      flex-direction: column;
      gap: 15px;
    }
  
    .homeBtn, .roleSelector {
      width: 80%;
      font-size: 1rem;
    }
  
    .homeContainer h1 {
      padding: 0 1rem;
      font-size: 1.5rem;
    }
  }