.roleSelector {
    text-align: center;
    margin-top: 100px;
  }
  
  .buttons button {
    margin: 20px;
    padding: 12px 25px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buttons button:first-child {
    color: white;
    background-color: #07f;
  }

  .buttons button:last-child {
    color: white;
    background-color: #ff5e5e;
  }

  .buttons button:hover {
    opacity: 0.8;
  }
  