body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* para prevenir el scroll horizontal */
}

.dashboardContainer {
  position: relative; 
  display: flex;
  width: 100vw;
  background-color: #f9fafb;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  height: 100vh;
  padding: 24px 16px;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  box-sizing: border-box;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.sidebarClosed {
 transform: translateX(-53%);
}

.sidebarOpen {
  transform: translateX(0);
}

.navTextClosed {
  display: none;
}

.navTextOpen {
  display: block;
}

.FaOpen {
  font-size: 1.2rem;
}

.FaClosed {
  font-size: 1.5rem;
}

.navAreaClosed {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.navContentClosed {
  display: flex;
  justify-content: flex-end;
}

.logoutClosed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  
}


.logout {
  padding: 10px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #0787f6;
  border-radius: 8px;
  cursor: pointer;
  min-height: 60px;
  min-width: 85px;
}

.logout:hover {
  background-color: #12395b;
}

.navArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.mainContent {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  margin-left: 20%;
  min-height: 100vh;
  overflow-y: auto;
}

.hamburger {
  display: block;
  border: none;
  font-size: 1.8rem;
  color: #374151;
  background: none;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 12px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  color: #374151;
  margin-top: 1rem;
}

.logoArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topBar {
  display: flex;
  align-items: right;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  padding-bottom: 3rem;
}

.nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  margin-bottom: 10px;
  padding-left: 22px;
  transition: background-color 0.2s;
}

.nav {
  color: #65c9fb;
}

.nav li:hover {
  background-color: #f3f4f6;
}

.activeNavItem {
  font-weight: 600;
  color: #0284c7;
  background-color: #e0f2fe;
  border-radius: 8px;
}

.activeNavItemClosed{
  min-width: 55px;
}

.navItemClosed{
  min-width: 55px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #374151;
  background: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
}

.userProfile {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.statGrid {
  display: flex;
  gap: 16px;
  margin-bottom: 1rem;
}

.statCard {
  flex: 1;
  padding: 16px;
  border: 1px solid #e5e7eb;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
}

.statValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.statLabel {
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

/* Quick Actions */

.actionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.actionBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #111827;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.actionBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}


.authBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #d1d5db;
  font-weight: 600;
  text-align: center;
  color: #111827;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  transition: all 0.2s ease;
}

.authBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}


.actionIcon {
  font-size: 1.2rem;
  color: #0787f6;
  text-decoration: none;
}

.actionGroup {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}


.actionAuthIcon {
  font-size: 0.8rem;
}

.section {
  padding: 1px 20px 20px;
  border: 1px solid #e5e7eb;
  background: white;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.section h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}

.table {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-collapse: separate;
  border-radius: 12px;
  border-spacing: 0;
  overflow: hidden;
}

.table th, .table td {
  padding: 16px;
  text-align: left;
  color: #111827;
  border-bottom: 1px solid #e5e7eb;
}

.table th {
  font-size: 0.9rem;
  font-weight: 700;
  color: #6b7280;
  background-color: #f9fafb;
  text-transform: uppercase;
}

.table tr:hover td {
  background-color: #f1f5f9;
  transition: background-color 0.2s;
}

.table, .section, .statGrid {
  max-width: 100%;
}

.badge {
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
}

/* Colores Status */
.activo {
  color: #065f46;
  background-color: #d1fae5;
}

.expirado {
  color: #991b1b;
  background-color: #fee2e2;
}

.pendiente {
  color: #92400e;
  background-color: #fef9c3;
}

.revocado {
  color: #374151;
  background-color: #e5e7eb;
}

.completado {
  color: #0284c7;
  background-color: #f3f4f6;
}

.navLink {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  color: inherit;
  border-radius: 8px;
  gap: 10px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #f3f4f6;
}

/* Ajustes */
.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 500px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
}

.formGroup input {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  border-radius: 8px;
}

.formGroupRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  padding: 12px 16px;
  border: none;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: #0787f6;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.2s ease;
}

.saveBtn:hover {
  background-color: #2563eb;
}

/* Login */
.loginResidentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #e0f7fa, #fff);
  font-family: 'Segoe UI', sans-serif;
}

.loginCard {
  width: 350px;
  padding: 2.5rem;
  background-color: white;
  animation: slide-up 0.6s ease;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

.loginCard h2 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 0.5rem;
}

.loginCard h3 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.loginCard input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: border-color 0.3s;
}

.loginCard input:focus {
  border-color: #0077b6;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 1rem;
}

.options .forgot {
  color: #0077b6;
  cursor: pointer;
}

.loginCard button[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #0077b6;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginCard button[type="submit"]:hover {
  background-color: #005f87;
}

.registerLink {
  font-size: 0.9rem;
  text-align: center;
  color: #333;
  margin-top: 1rem;
}

.registerLink a {
  font-weight: bold;
  color: #0077b6;
  text-decoration: none;
}

.backButton {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #c2c2c2;
}

/* Animations Login */
.fadeIn {
  animation: fadeIn 0.7s ease-in-out;
}
  
input, button {
  transition: all 0.3s ease;
}

input:focus {
  box-shadow: 0 0 5px #07f;
  outline: none;
  transform: scale(1.02);
}

button:hover {
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  transform: scale(1.05);
}

/* Responsive */


/* Movil */

@media (width <= 624px) {
  .mainContent {
    width: 100%;
    margin-left: 0;
  }

  .hideableRow {
    display: none;
  }

  .table td {
    font-size: 1rem;
  }
  
}

@media (width <= 770px) {
  .mainContent {
    width: 80%;
  }

  .logo {
    display: none;
  }

  .navText {
    display: none;
  }

  .nav li {
    padding: 12px;
    padding-right: 20px;
  }

  .actionAuthIcon {
    font-size: 0.8rem;
  }

  .authBtn {
    flex: 0 0 40%;
    width: 100%;
    padding: 6px;
    max-width: 38px;
  }
  
}

@media (width <= 824px) {
  .sidebar {
    width: 100px;
    transform: translateX(-53%);
  }

  .header {
    font-size: 1rem;
  }

  .hamburger {
    font-size: 1.2rem;
    margin-right: 16px;
  }

  .FaClosed {
    font-size: 1.2rem;
  }

  .logout {
    min-width: 65px;
  }
  
  .sidebarClosed {
    transform: translateX(-100%);
  }

  .sidebarOpen {
    transform: translateX(0%);
  }

  .mainContentFull {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .mainContent {
    width: 82%;
    margin-left: 100px;
  }

  .statGrid {
    flex-direction: column;
    gap: 16px;
  }

  .statValue {
    font-size: 1.2rem;
  }

  .statLabel {
    font-size: 0.8rem;
  }

  .actionsWrapper {
    flex-direction: column;
    gap: 12px;
  }

  .table th, .table td {
    padding: 16px 12px;
    font-size: 0.8rem;
    max-width: 90px;
  }

  .actionGroup {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .actionAuthIcon {
    font-size: 0.9rem;
  }

  .authBtn {
    flex: 0 0 40%;
    width: 100%;
    padding: 8px;
  }

  .logoClosed {
    display: none;
  }

}

/* Tablet y Laptop */

@media (width >= 769px) and (width <= 1024px) {
  .sidebar {
    width: 180px;
  }

  .sidebarClosed {
    transform: translateX(-49%);
  }

  .logo {
    font-size: 1rem;
  }

  .logoClosed {
    display: none;
  }
  
  .hamburger {
    font-size: 1.2rem;
    margin-right: 16px;
  }

  .navText {
    font-size: 0.75rem;
  }

  .activeNavItemClosed {
    width: 40%;
    min-width: 30px;
  }

  .navItemClosed {
    width: 40%;
    min-width: 30px;
  }

  .navLinkClosed {
    padding-left: 2px;
  }

  .FaClosed {
    font-size: 1.2rem;
  }

  .logout {
    min-width: 65px;
  }

  .mainContentFull {
    width: 90.1% !important;
    margin-left: 84px !important;
  }

  .mainContent {
    width: 80%;
    padding: 24px;
    box-sizing: border-box;
    margin-left: 180px;
    min-height: 100vh;
    overflow-y: auto;
  }

  .table th, .table td {
    padding: 14px 10px;
  }
}

/* Desktop 1025px+ */
@media (width >= 1025px) {
  .sidebar {
    width: 250px;
  }

  .mainContentFull {
    width: 89.75% !important;
    margin-left: 117px !important;
  }

  .mainContent {
    width: 81%;
    padding: 32px;
    box-sizing: border-box;
    margin-left: 250px;
    min-height: 100vh;
    overflow-y: auto;
  }

  .table th, .table td {
    padding: 16px 12px;
    font-size: 0.9rem;
  }

  .section h3 {
    font-size: 1.25rem;
  }

  .logoClosed {
    display: none;
  }
}

/* Login */
@media screen and (width <= 1024px) {
 .loginCard {
   width: 80%;
    }
  }
  
  @media screen and (width <= 768px) {
    .loginCard {
      width: 90%;
      padding: 2rem 1.5rem;
    }
  
    .loginCard h2 {
      font-size: 1.5rem;
    }
  
    .loginCard h3 {
      font-size: 1.2rem;
    }
  
    .loginCard input {
      padding: 10px;
      font-size: 1rem;
    }
  
    .loginCard button {
      font-size: 1rem;
    }
  }

/* Animations Login */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}  