body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* para prevenir el scroll horizontal */
}

.dashboardContainer {
  position: relative;
  display: flex;
  width: 100vw;
  background-color: #f9fafb;
  min-height: 100vh;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin-left: 300px;
  min-height: 100vh;
  overflow-y: auto;
}

.mainContentFull {
  margin-left: 150px !important;
}

.sidebar {
    position: fixed;
      top: 0;
  left: 0;
    z-index: 1000;
  display: flex;
  width: 300px;
  height: 100vh;
  padding: 24px;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  box-sizing: border-box;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.sidebarClosed {
  transform: translateX(-50%);
}

.sidebarOpen {
  transform: translateX(0);
}

.navTextClosed {
  display: none;
}

.navTextOpen {
  display: block;
}

.navContentClosed {
  display: flex;
  justify-content: flex-end;
}

.logoutClosed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  
}

.navArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.navAreaClosed {
  align-items: end;
  justify-content: flex-end;
}

.hamburger {
  display: block;
  border: none;
  font-size: 1.8rem;
  color: #374151;
  background: none;
  cursor: pointer;
  margin-right: 35px;
  margin-top: 12px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  color: #374151;
  margin-top: 1rem;
}

.logoClosed {
  display: none;
}

.logoArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  padding-bottom: 3rem;
}

.nav {
  color: #65c9fb;
}

.nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.navItem {
  display: flex;
    justify-content: flex-start;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  gap: 20px;
  margin-bottom: 15px;
    padding-bottom: 18px;
  padding-top: 18px;
  transition: background-color 0.2s;
}

.navItem:hover {
  background-color: #f3f4f6;
}

.activeNavItem {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  color: #0284c7;
  background-color: #e0f2fe;
  border-radius: 8px;
  cursor: pointer;
  gap: 20px;
  margin-bottom: 15px;
  padding-bottom: 18px;
  padding-top: 18px;
  transition: background-color 0.2s;
}

.activeNavItem:hover {
  background-color: #f3f4f6;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 12px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #0787f6;
  border-radius: 8px;
  cursor: pointer;
}

.logout:hover {
  background-color: #12395b;
}

.FaOpen {
  font-size: 1.2rem;
  margin-left: 25px;
}

.activeNavItemClosed,
.logoutClosed,
.navItemClosed {
  justify-content: center;
  min-width: 105px;
}

.FaClosed {
  font-size: 1.5rem;
  margin-left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #374151;
  background: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
}

.userProfile {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.statGrid {
  display: flex;
  gap: 16px;
  margin-bottom: 1rem;
}

.statCard {
  flex: 1;
  padding: 16px;
  border: 1px solid #e5e7eb;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
}

.statValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.statLabel {
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

/* Quick Actions */

.actionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.actionBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #111827;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.actionBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}

.authBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  border: 1px solid #d1d5db;
  font-weight: 600;
  text-align: center;
  color: #111827;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  gap: 10px;
  max-width: 50px;
  transition: all 0.2s ease;
}

.authBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}

.actionIcon {
  font-size: 1.2rem;
  color: #0787f6;
  text-decoration: none;
}

.actionGroup {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.actionAuthIcon {
  font-size: 0.8rem;
}

.section {
  padding: 1px 20px 20px;
  border: 1px solid #e5e7eb;
  background: white;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.qrModalTitle {
  justify-content: center;
  text-align: center;
}

.qrModalHeader {
  margin-top: 3rem;
}

.section h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}

.table {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-collapse: separate;
  border-radius: 12px;
  border-spacing: 0;
  overflow: hidden;
}

.table th,
.table td {
  padding: 16px;
  text-align: left;
  color: #111827;
  border-bottom: 1px solid #e5e7eb;
}

.table th {
  font-size: 0.9rem;
  font-weight: 700;
  color: #6b7280;
  background-color: #f9fafb;
  text-transform: uppercase;
}

.table tr:hover td {
  background-color: #f1f5f9;
  transition: background-color 0.2s;
}

.table,
.section,
.statGrid {
  max-width: 100%;
}

/* Authorization Modals */

.modalOverlay {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgb(0 0 0 / 50%);
  inset: 0;
}

.modal {
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  max-width: 400px;
}

.modalCloseBtnContainer {
  text-align: right;
  margin-top: 12px;
}

.modalHeader{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 140px;
}


.qrModal {
  position: relative;
  width: 90%;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  max-width: 400px;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem;
  border: 0;
  font-size: 1.2rem;
  line-height: 1;
  color: #777;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.closeButton:hover,
.closeButton:focus {
  color: #333;
}

.modalCloseBtn {
  position: static;
  padding: 0.5rem;
  border: 0;
  font-size: 1.2rem;
  line-height: 1;
  color: #777;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.modalCloseBtn:hover,
.modalCloseBtn:focus {
  color: #333;
}

.disabledBtn {
  cursor: not-allowed;
  opacity: 0.5;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.modalBtn {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.cancelBtn {
  color: #333;
  background-color: #f0f0f0;
}

.confirmBtn {
  color: white;
  background-color: #e74c3c;
}

.confirmBtn:hover {
  background-color: #c0392b;
}

.shareButton {
  position: absolute;
  top: 1.5rem;
  right: 17.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: #25D366;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.5rem;
}

.shareButton:hover {
  background-color: #128C7E;
}

.sharingButton {
  align-items: center;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: #25D366;
  border-radius: 4px;
  cursor: pointer;
}

.sharingButton:hover {
  background-color: #128C7E;
}

.qrContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.qrContainer img {
  width: 100%;
  height: auto;
  margin-bottom: 0.2rem;
  max-width: 300px;
}

.qrId {
  font-size: 0.8rem;
  text-align: center;
  color: #666;
  word-break: break-all;
}

.badge {
  display: inline-block ;
  padding: 3px 5px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  border-radius: 12px;
}

.badgeLarge {
  display: inline-block ;
  padding: 6px 50px;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
}

/* Colores Status */
.aprobada {
  color: #065f46;
  background-color: #d1fae5;
}

.rechazada {
  color: #991b1b;
  background-color: #fee2e2;
}

.pendiente {
  color: #92400e;
  background-color: #fef9c3;
}

.expirada {
  color: #374151;
  background-color: #e5e7eb;
}

.finalizada {
  color: #0284c7;
  background-color: #cddff9;
}

/* Ajustes */
.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 500px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
}

.formGroup input {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  border-radius: 8px;
}

.formGroupRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  padding: 12px 16px;
  border: none;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: #0787f6;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.2s ease;
}

.saveBtn:hover {
  background-color: #2563eb;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgb(0 0 0 / 10%);
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-top: 4px solid #000;
  margin-bottom: 7px;
}

/* Report */
.filterBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 1rem;
}

.filterBar input,
.filterBar select {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  border-radius: 6px;
  min-width: 180px;
}

.filterBar button {
  padding: 8px 16px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: #0787f6;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterBar button:hover {
  background-color: #005fa3;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}  

/* Login */
.loginResidentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
  url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2946&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;  font-family: 'Segoe UI', sans-serif;
}

.loginCard {
  width: 350px;
  padding: 2.5rem;
  background-color: white;
  animation: slide-up 0.6s ease;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

.loginCard h2 {
  font-size: 2rem;
  text-align: center;
  color: #0787f6;
  margin-bottom: 0.5rem;
}

.loginCard h3 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.loginCard input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: border-color 0.3s;
}

.loginCard input:focus {
  border-color: #0077b6;
  outline: none;
}

.options {
  margin-bottom: 15px;
}

.options input[type="checkbox"] {
  cursor: pointer;
  margin-top: 18px;
}

.options label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  gap: 15px;
  margin-right: 120px;
  white-space: nowrap;
}

.loginCard button[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #0787f6;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginCard button[type="submit"]:hover {
  background-color: #005f87;
}

.registerLink {
  font-size: 0.9rem;
  text-align: center;
  color: #333;
  margin-top: 1rem;
}

.registerLink a {
  font-weight: bold;
  color: #0077b6;
  text-decoration: none;
}

.backButton {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #c2c2c2;
}

.errorMessage {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: left;
  color: #fb3636;
  margin-bottom: 4px;
}

.credentialsMessage {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  color: #fb3636;
  margin-top: 4px;
}

/* Animations Login */
.fadeIn {
  animation: fadeIn 0.7s ease-in-out;
}
  
.loginInput {
  transition: all 0.3s ease;
}

.loginInput:focus {
  box-shadow: 0 0 5px #07f;
  outline: none;
  transform: scale(1.02);
}

.hamburger:hover, .closeButton:hover, .modalCloseBtn:hover {
  transform: scale(1.1);
}

/* Responsive */

/* Movil */

@media (width <= 600px) {
  .filterBar {
    align-items: stretch;
    flex-direction: column;
  }

  .filterBar button {
    width: 100%;
  }
}

@media (width <= 624px) {
  .hideableRow {
    display: none;
  }

  .table th,
  .table td {
    padding: 0;
    font-size: 8px;
  }

  .title {
    display: none;
  }

  .userProfile {
    font-size: 0.9rem;
  }

}

@media (width <= 874px) {
  .sidebar {
    width: 200px;
    transform: translateX(-50%);
  }

  .mainContent {
    margin-left: 100px;
  }

  .mainContentFull {
    margin-left: 100px !important;
  }

  .header {
    font-size: 1rem;
  }

  .logo {
    display: none;
  }

  .navText {
    display: none;
  }

  .statGrid {
    flex-direction: column;
    gap: 16px;
  }

  .statValue {
    font-size: 1.2rem;
  }

  .statLabel {
    font-size: 0.8rem;
  }

  .actionsWrapper {
    flex-direction: column;
    gap: 12px;
  }

  .table th,
  .table td {
    padding: 11px 7px;
    font-size: 0.6rem;
  }

  .badge {
    font-size: 0.55rem;
  }

  .actionGroup {
  display: flex;
  width: 30px;
  height: 60px;
  align-content: flex-start;
  flex-flow: column wrap;
  gap: 5px;
  margin-right: 10px;
}

  .authBtn {
  display: flex;
  flex: 0 0 calc(50% - 2.5px);
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 18px;
  padding: 6px;
}

  .topBar {
    margin-bottom: 30px;
  }

  .hamburger {
    display: none;
  }

  .activeNavItemClosed,
  .logoutClosed,
  .navItemClosed,
  .activeNavItemOpen,
  .logoutOpen,
  .navItemOpen {
    justify-content: center;
    min-width: 55px;
  }

  .FaOpen,
  .FaClosed {
    font-size: 1.4rem;
    margin-left: 0;
  }

  .navAreaOpen {
    align-items: end;
    justify-content: flex-end;
  }

  .navTextOpen {
    display: none;
  }

  .logoOpen {
    display: none;
  }
}

/* Tablet y Laptop */

@media (width >= 874px) and (width <= 1024px) {
  .sidebar {
    width: 250px;
  }

  .mainContent {
    margin-left: 250px;
  }

  .mainContentFull {
    margin-left: 125px !important;
  }

  .logo {
    font-size: 1.3rem;
  }

  .navText {
    font-size: 0.9rem;
  }

  .badge {
    font-size: 0.6rem;
  }

  .table th,
  .table td {
    padding: 14px 10px;
    font-size: 0.9rem;
  }

  .authBtn {
    padding: 9px;
  }

  .hamburger {
    font-size: 1.6rem;
    margin-right: 22px;
  }

  .activeNavItemClosed,
  .logoutClosed,
  .navItemClosed {
    justify-content: center;
    min-width: 80px;
  }

  .FaOpen {
    font-size: 1.2rem;
    margin-left: 25px;
  }

  .FaClosed {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

/* Animations Login */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}  
