body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* para prevenir el scroll horizontal */
}

.dashboardContainer { 
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: #f9fafb;
  position: relative;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  transition: transform 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.sidebarClosed {
 transform: translateX(-53%);
}

.sidebarOpen {
  transform: translateX(0);
}

.navTextClosed {
  display: none;
}

.navTextOpen {
  display: block;
}

.FaOpen {
  font-size: 1.2rem;
}

.FaClosed {
  font-size: 1.5rem;
}

.navAreaClosed {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.navContentClosed {
  display: flex;
  justify-content: flex-end;
}

.logoutClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  
}


.logout {
  background-color: #0787f6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  min-height: 60px;
  min-width: 85px;
}

.logout:hover {
  background-color: #12395b;
}

.navArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.mainContent {
  width: 100%;
  margin-left: 20%;
  padding: 24px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #374151;
  margin-top: 12px;
  margin-right: 20px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #374151;
}

.logoArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  padding-left: 22px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.nav {
  color: #65c9fb;
}

.nav li:hover {
  background-color: #f3f4f6;
}

.activeNavItem {
  background-color: #e0f2fe;
  color: #0284c7;
  font-weight: 600;
  border-radius: 8px;
}

.activeNavItemClosed{
  min-width: 55px;
}

.navItemClosed{
  min-width: 55px;
}

.header {
  background: white;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #374151;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.userProfile {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.statGrid {
  display: flex;
  gap: 16px;
  margin-bottom: 1rem;
}

.statCard {
  flex: 1;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  text-align: center;
}

.statValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.statLabel {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #6b7280;
}

.actionsWrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.actionBtn {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actionBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}


.authBtn {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.authBtn:hover {
  background-color: #f3f4f6;
  border-color: #cbd5e1;
}


.actionIcon {
  font-size: 1.2rem;
  color: #0787f6;
}

.actionGroup {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}


.actionAuthIcon {
  font-size: 0.8rem;
}

.section {
  background: white;
  padding: 1px 20px 20px 20px;
  border-radius: 12px;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
}

.section h3 {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
}

.table th, .table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
}

.table th {
  background-color: #f9fafb;
  font-weight: 700;
  font-size: 0.9rem;
  color: #6b7280;
  text-transform: uppercase;
}

.table tr:hover td {
  background-color: #f1f5f9;
  transition: background-color 0.2s;
}

.table, .section, .statGrid {
  max-width: 100%;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

/* Colores Status */
.activo {
  background-color: #d1fae5;
  color: #065f46;
}

.expirado {
  background-color: #fee2e2;
  color: #991b1b;
}

.pendiente {
  background-color: #fef9c3;
  color: #92400e;
}

.revocado {
  background-color: #e5e7eb;
  color: #374151;
}

.completado {
  background-color: #f3f4f6;
  color: #0284c7;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
}

.navLink:hover {
  background-color: #f3f4f6;
}

/* Ajustes */
.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin-top: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #374151;
}

.formGroup input {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
}

.formGroupRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  background-color: #0787f6;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
  transition: background 0.2s ease;
  margin-top: 1rem;
}

.saveBtn:hover {
  background-color: #2563eb;
}


/* Responsive */


/* Movil */

@media (max-width: 624px) {

  .mainContent {
    margin-left: 0;
    width: 100%;
  }

  .hideableRow {
    display: none;
  }

  .table td {
    font-size: 1rem;
  }
  
}

@media (max-width: 770px) {

  .mainContent {
    width: 80%;
  }

  .logo {
    display: none;
  }

  .navText {
    display: none;
  }

  .nav li {
    padding: 12px;
    padding-right: 20px;
  }

  .actionAuthIcon {
    font-size: 0.8rem;
  }

  .authBtn {
    width: 100%;
    max-width: 38px;
    padding: 6px;
    flex: 0 0 40%;
  }
  
}

@media (max-width: 824px) {
  .sidebar {
    width: 100px;
    transform: translateX(-53%);
  }

  .header {
    font-size: 1rem;
  }

  .hamburger {
    font-size: 1.2rem;
    margin-right: 16px;
  }

  .FaClosed {
    font-size: 1.2rem;
  }

  .logout {
    min-width: 65px;
  }
  
  .sidebarClosed {
    transform: translateX(-100%);
  }

  .sidebarOpen {
    transform: translateX(0%);
  }

  .mainContentFull {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .mainContent {
    margin-left: 100px;
    width: 82%;
  }

  .statGrid {
    flex-direction: column;
    gap: 16px;
  }

  .statValue {
    font-size: 1.2rem;
  }

  .statLabel {
    font-size: 0.8rem;
  }

  .actionsWrapper {
    flex-direction: column;
    gap: 12px;
  }

  .table th, .table td {
    max-width: 90px;
    padding: 16px 12px;
    font-size: 0.8rem;
  }

  .actionGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .actionAuthIcon {
    font-size: 0.9rem;
  }

  .authBtn {
    width: 100%;
    padding: 8px;
    flex: 0 0 40%;
  }

  .logoClosed {
    display: none;
  }

}

/* Tablet y Laptop */

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 180px;
  }

  .sidebarClosed {
    transform: translateX(-49%);
  }

  .logo {
    font-size: 1rem;
  }

  .logoClosed {
    display: none;
  }
  
  .hamburger {
    font-size: 1.2rem;
    margin-right: 16px;
  }

  .navText {
    font-size: 0.75rem;
  }

  .activeNavItemClosed {
    width: 40%;
    min-width: 30px;
  }

  .navItemClosed {
    width: 40%;
    min-width: 30px;
  }

  .navLinkClosed {
    padding-left: 2px;
  }

  .FaClosed {
    font-size: 1.2rem;
  }

  .logout {
    min-width: 65px;
  }

  .mainContentFull {
    margin-left: 84px !important;
    width: 90.1% !important;
  }

  .mainContent {
    margin-left: 180px;
    padding: 24px;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    width: 80%;
  }

  .table th, .table td {
    padding: 14px 10px;
  }
}

/* Desktop 1025px+ */
@media (min-width: 1025px) {

  .sidebar {
    width: 250px;
  }

  .mainContentFull {
    margin-left: 117px !important;
    width: 89.75% !important;
  }

  .mainContent {
    margin-left: 250px;
    padding: 32px;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    width: 81%;
  }

  .table th, .table td {
    padding: 16px 12px;
    font-size: 0.9rem;
  }

  .section h3 {
    font-size: 1.25rem;
  }

  .logoClosed {
    display: none;
  }
}