.loginAdminContainer  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #dff1ff, #ffffff);
  font-family: 'Segoe UI', sans-serif;
}

.loginCard {
  background-color: white;
  padding: 2.5rem;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  animation: slide-up 0.6s ease;
}

.loginCard h2 {
  text-align: center;
  color: #1d3557;
  margin-bottom: 0.5rem;
}

.loginCard h3 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.loginCard input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.loginCard input:focus {
  border-color: #1d3557;
  outline: none;
}

.loginCard button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginCard button[type="submit"]:hover {
  background-color: #16324f;
}

.registerLink {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

.registerLink a {
  color: #1d3557;
  text-decoration: none;
  font-weight: bold;
}

.backButton {
  margin-top: 1.5rem;
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #c2c2c2;
}
/* Estilos responsive */
@media screen and (max-width: 1024px) {
  .loginCard {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .loginCard {
    width: 90%;
    padding: 2rem 1.5rem;
  }

  .loginCard h2 {
    font-size: 1.5rem;
  }

  .loginCard h3 {
    font-size: 1.2rem;
  }

  .loginCard input {
    font-size: 1rem;
    padding: 10px;
  }

  .loginCard button {
    font-size: 1rem;
  }
}